/* Make the font Arial */
body {
	font-family: Arial;
}

/* Center the Headers */
h1, h3 {
	text-align: center;
}

/* Set Layout for Each Row of Vis and Description */
#row1 {
	display: flex;
	flex-direction: row;
	align-items: left;
	align-content: left;
}

#row2 {
	display: flex;
	flex-direction: row;
	align-items: left;
	align-content: left;
}

#row3 {
	display: flex;
	flex-direction: row;
	align-items: left;
	align-content: left;
}

/* Add left margin to descriptions so text does not overlay images when window is minimized */
#col2 {
	margin-left: 50px;
}

#col4 {
	margin-left: 50px;
}

#col6 {
	margin-left: 50px;
}

/* Add margins to vis for better layout */
img {
	margin-left: 50px;
	margin-right: 50px;

	/*Make Image grow and shrink dynamically*/
	max-width: 100%;
    height: auto;
    width: 700px; 
}